/* slider */
.mn__slider {
    width: 100%;
    overflow: hidden;
}

.mn__slider > div {
    display: flex;
    width: 200%;
    animation: slider_next 4s infinite alternate;
}

/* deslizamiento automatico del slider */
@keyframes slider_next {
    0% {margin-left: 0;}
    35% {margin-left: 0;}
    70% {margin-left: -100%;}
    100% {margin-left: -100%;}
}

/* animacion iconos de las rrss */
.fa-facebook:hover {
    color: #087aea;
}

.fa-twitter:hover {
    color: #1d9bf0;
}

.fa-instagram:hover {
    color: #f01d63;
}

.fa-discord:hover {
    color: #265330;
}

.fa-tiktok:hover {
    color: #c7a3c7;
}

.fa-youtube:hover {
    color: #ff0000;
}