/* **************************************** */
/*                   CART                   */
/* **************************************** */

/* título del carrito */
.mn__cart__title {
    max-width: 1180px;
    min-width: 380px;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-bottom: 2px;
    border-bottom: 2px solid #ccc;
    font-size: .8rem;
}

.mn__cart__title h1 {
    font-size: 22px;
}

/* formato para tabla */
.mn__cart__tbl {
    max-width: 1180px;
    min-width: 380px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 2px;
}

.mn__cart__tbl table {
    width: 100%;
    border: 2px solid #ccc;
    text-align: center;
    font-size: .8rem;
}

.mn__cart__tbl table th {
    padding: 5px;
    border-bottom: 2px solid #ccc;
    ;
    background-color: #1273eb;
    color: #fff;
    padding-top: 12px;
}

.mn__cart__tbl h3 {
    font-size: 14px;
}

.mn__cart__tbl tr td {
    font-size: 14px;
    padding: 5px 0;
}

/* formato para botones */
.mn__cart__btn {
    max-width: 1180px;
    min-width: 380px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 2px;
    display: flex;
    height: 50px;
}

.mn__cart__btn button {
    min-width: 80px;
}

.mn__cart__btn {
    font-size: 12px;
}

.mn__cart__coupon {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.mn__cart__update {
    width: 25%;
    display: flex;
    justify-content: center;
}

.mn__cart__checkout {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

/* propiedades del input y los botones */
.mn__cart__coupon--code {
    width: 60%;
    height: 100%;
}

.mn__cart__coupon--code input {
    width: 100%;
    height: 80%;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: .9rem;
}

.mn__cart__coupon--btn {
    width: 30%;
    height: 100%;
}

.mn__cart__coupon--btn button {
    width: 100%;
    height: 80%;
    border-radius: 0 5px 5px 0;
    border: 1px solid #ccc;
}

.mn__cart__update button,
.mn__cart__checkout button {
    width: 50%;
    height: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* **************************************** */
/*                 ACCOUNT                  */
/* **************************************** */

/* título del carrito */
.mn__acc__title {
    max-width: 1180px;
    min-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-bottom: 2px;
    border-bottom: 2px solid #ccc;
    font-size: .8rem;
}

.mn__acc__title h1 {
    font-size: 22px;
}

/* formato del login */
.mn__acc__login {
    max-width: 1180px;
    min-width: 380px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid #ccc;
    font-size: .8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mn__acc__login>span {
    width: 100%;
    margin: 10px 0;
    min-width: 300px;
}

.mn__acc__login span h2 {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0 30%;
}

.mn__acc__login span h3 {
    font-size: 1rem;
    margin: 0 30%;
}

.mn__acc__input {
    width: 100%;
    min-width: 300px;
    height: 40px;
    margin: 0 30%;
}

.mn__acc__input input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* propiedades del chek y avisos */
.mn__acc__opc {
    width: 100%;
    display: flex;
    margin: 15px 30%;
}

.mn__acc__opc--left {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mn__acc__opc--left div {
    width: 10%;
    text-align: center;
}

.mn__acc__opc--left span {
    width: 90%;
}

.mn__acc__opc--left span h3 {
    width: 100%;
    margin-left: 0;
}

.mn__acc__opc--right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mn__acc__opc--right span h3 {
    width: 100%;
}


/* **************************************** */
/*                 OFERTAS                  */
/* **************************************** */

.mn__off__title {
    max-width: 1180px;
    min-width: 380px;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-bottom: 2px;
    border-bottom: 2px solid #ccc;
    font-size: .8rem;
}

.mn__off__title h1 {
    font-size: 22px;
}

/* **************************************** */
/*               SUSCRIPCION                */
/* **************************************** */

.mn__subs__title {
    max-width: 1180px;
    min-width: 380px;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-bottom: 2px;
    border-bottom: 2px solid #ccc;
    font-size: .8rem;
}

.mn__subs__title h1 {
    font-size: 22px;
}