.hd {
    // width: 100%;
    width: map-get($anchos , ancho);
    background-color: $color-primary;
    input {
        border-radius: .375rem 0 0 .375rem;
    }
    button {
        border-radius: 0 .375rem .375rem 0;
    }
}
