// importar fuentes de google fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

// color base de la página
$color-primary: #262B33;

//color textos
$color-text: #dcdedf;
$color-text-a: #869fb2;

// bordes
$border: 1px solid #ccc;

// fuente base de la página
$font-family: 'Open Sans', sans-serif;

//ancho mínimo de página
$max-width: 1180px;

//alto mínimo de página
$min-width: 300px;